:root {
  --primary-text-color: #757575;
  --title-text-color:#212121;
  --accent-color:#2196F3;
  --project-color: #EEEEEE;
  --white-color: #ffffff;
  --button-background-color: #F5F4FA;
  --page-background-color: #F5F4FA;
  --background-color:#2F303A;
  --link-address: rgba(255, 255, 255, 0.6);
  --background-color-page: #ffffff;
  --solid: #EEEEEE;
  --background-color-portfolio: #F5F5F5;
  --border-color-page: #ECECEC;
  --color-hero-background:#C4C4C4;
  --color-social-link:  #AFB1B8;
  --icon-background-color: #2196F3;
  --accent-background-color: #188CE8;

}




                                        /* сброс */
                            /* sass\components\_base.scss */
textarea {
    margin: 0px;
    padding: 0px;
}

label {
    margin: 0px;
    padding: 0px;
}

input {
    margin: 0px;
    padding: 0px;
}

body {
    display: block;
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
    color: var(--primary-text-color);
    font-family: "Roboto",-apple-system,BlinkMacSystemFont,avenir next,avenir,segoe ui,helvetica neue,helvetica,Cantarell,Ubuntu,roboto,noto,arial,sans-serif;
}


/* sass\components\_hero.scss */

.hero {
  background-color: var(--background-color)

}


                    /* скрываем h2 */

.visually__hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}    

 
                      /* Ресет */ 
        /* sass\components\_base.scss */


ul { 
    list-style: none;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
}
/* Класс для обнуления базовых свойств у списков (ul) */
.list {
	list-style: none;
	padding-left: 0;
	margin: 0;
    
}
/* Класс для обнуления базовых свойств у ссылок */
.link {
	text-decoration: none;
	color: inherit;
}
/* Свойства для корректного отображения картинок */
img {
	display: block;
	max-width: 100%;
	height: auto;
}
/* Свойства для обнуления курсива у address */
address {
	font-style: normal;
    margin-top: 20px;
}


/* обнуление маржинов у ul */
.nav,
.contacts {
    margin: 0;
}


/* конец Ресет */


                             /* контакти */    
/* sass\components\_contacts-header.scss */
   
.address__list {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
    list-style: none;
}

.address__link {
     color: #ffffff;
     text-decoration: none;
     list-style: none;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 
.address__link:hover, 
.address__link:focus {
    color: #2196f3;
 }
                    
 .address__item {
    color: rgba(255,255,255,0.6);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
}
.address__item:hover, 
.address__item:focus {
    color: #2196f3;
}
                    
/* общие свойства для секций */
/* sass\components\_base.scss */


.projects, 
.filter, 
.clients__list, 
.team__list, 
.benefits__list, 
.activities__list,
.header__container {
    display: flex;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    list-style: none;  
}

.logo__contacts,
.logo__footer,
.address,
.link__footer
.footer__container,
.link__address,
.footer__container {
    text-decoration: none;
}





.footer__container{
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.benefits,
.projects__section  {
    padding-top: 94px;
    padding-bottom: 94px;
}


                                    /* header */


.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color-page);
    padding-right: 0px;  
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    align-items: normal;

}

                            /* logo */
/* sass\components\_logo.scss */

.logo {
    display: flex;
    text-decoration: none;
    color: var(--title-text-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-right: 93px ;
    align-items: center;

}
.logo--accent {
    color: var(--accent-color); 
}



                                /* nav - header */
/* C:\Users\Valerii\Documents\GitHub\goit-markup-hw-07\sass\components\_navigation.scss */

.nav {
    display: flex;
    flex-wrap: nowrap
} 
.nav {
    transition: transform 250ms cubic-bezier(0.4, 0.0, 0.2, 1.0);
}


.nav__item {
    display: flex;
    position: relative;
    margin-left: 50px;
}

.nav__item:nth-child(1) {
    margin-left: 0px;
}

.nav__link {
    color: var(--title-text-color);
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
}

.nav__link {

    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

}

.nav__link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
} 

.nav__link--current {
    color: var(--accent-color);
}


.nav__link--current::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0px;
    transform:translateY(25%);
    display: block;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    
}

                                    /* контакти */
/* sass\components\_contacts-header.scss                                     */
.contacts {
    display: flex;
    margin-left: auto;
    align-items:center;
}

.contacts__item:nth-child(1) {
    margin-left: 0;
}
.contacts__item {
    display: flex;
    position: relative;
    margin-left: 50px;
}

.contacts__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1) ; 
}

.contacts__icon {
    fill: currentColor;
    margin-right: 10px;
    padding: 0;
    margin-bottom: 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__icon:hover, 
.contacts__icon:focus {
    fill: #2196f3;
    color: #2196f3;
}

.contacts__link:hover, 
.contacts__link:focus {
    color: #2196f3;
}


                        /* hero */

/* sass\components\_hero.scss */

/* Ефективні рішення для вашого бізнесу */
.hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    margin: 0 auto;
    background-color: var(--color-hero-background);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/Brainstorm-foto.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.hero__title {
 
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 30px;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;   
  
}

.hero__button {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 10px 32px;
    min-width: 216px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 
}
 
.hero__button {
    color: var(--white-color);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
}

.hero__button {
    background-color: #2196F3;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.hero__button:hover,
.hero__button:focus {
    color: var(--white-color);
    background-color: #188CE8;
}

                 /* Переваги */
 
                  /* benefits */
/* sass\components\_benefits.scss */

.benefits__title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}
.benefits__text {
    margin-top: 0;
    margin-bottom: 0;
    color: #757575;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: .03em;
}
    

.benefits__list {
    align-items: start;
}

.benefits__item {
    display: inline-block;
    width: 270px;
    padding: 0;
    margin-left: 30px;

}
.benefits__icon {
    margin-right: 10px;
    fill: currentcolor;
}

.benefits__icon {
    width: 70px; 
    height: 70px;
}

.benefits__icons-box {
    display: flex;
     flex-basis: calc((100% - 90) / 4); 
    height: 120px;
    align-items: center;
    justify-content: center;
    background-color: var(--page-background-color);
    margin-bottom: 30px;
    border-radius: 4px;
  
}

                    /* чим ми займаємося */
                    /* sass\components\_activites.scss */

.activites {
    width: 1200px;  
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0px;
    padding-bottom: 94px;
    margin-left: auto;
    margin-right: auto;
   
}

.activites__title  {
    margin-top: 0px;
    margin-bottom: 50px;
                    
} 

.activites__list {
    display: flex;
    margin: 0px;
    justify-content: space-between;

 }

 .activites__list :nth-child(3n) {
    margin-right: 0px;
}

.activites__item {
    position: relative;
    margin-left: 30px;
}
.activites__list :nth-child(1) {
    margin-left: 0px;
}

.activites__text{
    position: absolute;
    padding-top: 27px;
    padding-bottom: 27px;
    left: 0;
    margin: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    bottom: 0px;
    opacity: 1;
   
  }
  
.activites__text {
color:var(--white-color);
    font-weight: 700;
    font-size: 14px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}



.button {
    color: var(--white-color);
    cursor: pointer;  
    transition: transform 250ms cubic-bezier(0.4, 0.0, 0.2, 1.0);
}


                                    /* Команда */
/* sass\components\_team.scss */

.team {
    background-color: var(--button-background-color);
    padding-top: 94px;
    padding-bottom: 94px;                                   
}
                                    
.team__list {
    display: flex;
    flex-wrap: wrap;
    font-family: Roboto, sans-serif;
    font-style: normal;
 
}

.team__list {
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

.team__item {
    margin-left: 0px;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    padding-bottom: 30px;
    margin-left: 30px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}   

.team__item:nth-child(1) {
    margin-left: 0;
}


.team__name {
    color: var(--title-text-color);
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
   
  
}

.team__members {
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-bottom: 16px;
}

.team__members {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
 }

.team__foto {
    margin-bottom: 30px;
}

.humana-list {
    display: block;
    width: 270px;
    margin-left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
     
}


                            /* соцсети команды */
 /* sass\components\_icons-social.scss */

 .iconssocial {
    display: flex;
    justify-content: center;
    gap: 10px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-left: 32px;
    padding-right: 32px;
    list-style: none;
}

.iconssocial__list {
    border-radius: 50%;

}
.iconssocial__list:nth-child(1) {
    margin-left: 0;
}


.iconssocial__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--color-social-link);
    transition: fill 250ms cubic-bezier(0.4, 0.0, 0.2, 1.0), background-color 250ms cubic-bezier(0.4, 0.0, 0.2, 1.0);
    
}

.iconssocial__link:hover,
.iconssocial__link:focus  {
    background-color: var(--icon-background-color);
    fill: var(--white-color);
}

/* .title  {
    margin-top: 0px;
    margin-bottom: 10px; 
}   */


                                /* h2 */
/* sass\components\_base.scss */
.section__title,
.team__title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 50px;
    /* margin-bottom: 10; */
    color: var(--title-text-color);
}


/* _____________________________________________ */
                    /* ПОРТФОЛИО */

                    /* фильтр направлений*/
                    /* sass\components\_portfolio-filter.scss */



.filter {
    flex-wrap: wrap;
 
}  

.filter {
    gap: 30px;
    padding-left: 0px;
}
 



                                /* prolect */
   /* sass\components\_portfolio-projects.scss */

.project__thumb {
    position: relative;
    overflow: hidden;
    transition: transform 250ms cubic-bezier(0.4, 0.0, 0.2, 1.0);
}

                             
.project {
    display: flex;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    align-items: center;
    justify-content: center; 
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 0px;
    /* padding-left: 0px; */
    margin-bottom: 0px;
}
.project__thumb {
    position: relative;
    overflow: hidden;
    transition: transform 250ms cubic-bezier(0.4, 0.0, 0.2, 1.0);
}

.project__list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    list-style: none;  
    gap: 30px;
    margin-top: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
}                                                    
                                                                             
 .container.project {
     margin-left: 0px;
 
}
                                            

.project__card {
    margin: 0px;
    padding: 20px 24px;
    border-width: 0px 1px 1px 1px;
    border-color: var(--solid); 
    border-style: solid ;
    

}

.container.project {
    margin-left: 0px;

}


.project__item {

    width: 370px;
    text-decoration: none;
    margin-top: 0px;
    margin-bottom: 0px;

    margin-left: 0px;
    margin-right: 0px;
}


.project__item:hover {    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

   
.project__link {
    display: block;
    text-decoration: none;
}



.project__link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0.0, 0.2, 1.0);
  
}

.project__link {
        max-width: 370px;
        list-style: none;
        text-decoration: none;
        transition: box-shadow 250ms cubic-bezier(0.4, 0.0, 0.2, 1.0);
      
}

.project__link {
        min-width: 100px;
        font-family: inherit;
        appearance: none;
        border: 0;
        border-radius: 5px;
        color: #ffffff;
         
}


.project__link:hover,
.project__link:focus  {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}
.project__link:hover .project__overlay {
    transform: translateY(0);
}


                                /* project__overlay */

.project__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0px;
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 1;
    padding: 0px;
    padding-top: 63px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%); 
} 


.project__title {
    font-family: 'Roboto';
    padding-top: 0px;
    margin-bottom: 4px;
     
    color: var(--title-text-color);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
} 


.project__name {
margin: 0px;
padding-top: 0px;
padding-bottom: 0px;

}

.project__name {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
}
                             /* Постійні клієнти */
                             /* sass\components\_clients.scss */
             
.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}


.clients__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.clients__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}

.clients__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: var(--color-social-link);
    transition: fill 250ms cubic-bezier(0.4, 0.0, 0.2, 1.0), border 250ms  cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon:hover,
.clients__icon:focus {
    border: 1px solid var(--accent-color);
    fill: var(--accent-color);
}


                        /* footer */
                        /* sass\components\_page-footer.scss */

.footer {
    background: var(--color-section);
   
}

.footer__container {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__container  {
    background-color: var(--background-color)
                            
}


.footer__container {
    text-decoration: none;
    color: var(--white-color);
    font-size: 26px;
    line-height: 1.19;
    text-align: start;
    letter-spacing: 0.03em;

}


                            /* КОНТАКТИ */
.address {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-right: 70px;
    margin-left: 0;
}

.address {
    color: var(--white-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.logo--footer {
    color: var(--white-color);
}



                /* Приєднуйтесь join */
                /* sass\components\_join.scss */


.join {
    display: flex;
    flex-direction: column;
    padding: 0;
}


.join__text {
    text-transform: uppercase;
    align-items: center;
    color: var(--white-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: .03em;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}
                /* icons-footer */
                /* sass\components\_icons-footer.scss */


.icons {
    display: flex;
    justify-content: start;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;

    padding-right: 32px;
    list-style: none;
    margin: 0;
}


.icons__list {
    border-radius: 50%;
    margin-left: 10px;
}

.icons__list:nth-child(1) {
    margin-left: 0;
}

.icons__link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--white-color);
    background: rgba(184, 177, 177, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0.0, 0.2, 1.0);
}
.icons__link:hover,
.icons__link:focus {
    background-color: var(--accent-color);
}

/* ПІДПИШИСЬ НА РОЗСИЛКУ */
/* sass\components\_subscription.scss */


.subscription__button {
    background-color: #2196F3;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription__button {
    display: flex;
    width: 200px;
    height: 50px;
    padding-left: 28px;
    border-radius: 4px;
    color: var(--white-color);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: left;
    align-items: center;
    letter-spacing: 0.06em;
   margin-left: 12px;
    border: 1px solid transparent;
    transition: fill 250ms cubic-bezier(0.4, 0.0, 0.2, 1.0), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.subscription__button:hover,
.subscription__button:focus {
    border: 1px solid var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
     background-color: #188CE8;
}

.subscription__svg {
    
    fill: var(--white-color);
    justify-content: center;
    align-items: center;
    margin-left: 10px;

}


                     /* Portfolio */

                    /* button-filter */
                    /* sass\components\_portfolio-filter.scss */
.filter__list {
    display: flex;
    align-items: center;
    justify-content:center;
    padding-left: 0px;
    border-radius: 4px;
    margin: 50px;
    margin-top: 0;
    min-width: 216px;   
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}                   

 .filter__list {
  padding: 0;
    margin-bottom: 35px;
    list-style: none;
}


.filter__list {
    display:inline-flex;
    align-items: center;
    color: var(--title-text-color);
    cursor: pointer;
    font-family: inherit;
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 6px 22px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
         }



.filter__item{
margin-right: 8px;
} 

.filter__item:last-child {
    margin-right: 0;
}      

.filter__button {
    padding: 6px 22px;
    min-width: 73px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: .03em;
    background-color: #f5f4fa;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover, 
.filter__button:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
 
/* .footer-social .social {
    margin: 0px;
} */




    /* модальное окно */
    /* sass\components\_modal.scss */

.backdrop {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);;
    transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;

}   
.backdrop.is-hidden { 
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  
}


.form {
    padding: 40px;

}


.form__title {
    display: block;
    padding: 0px;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);

}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    background-color: var(--background-color-page); 
    transition: background-color  250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* padding: 40px; */
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);   
     
}


.close__icon{
    margin: auto;
    width: 18px;
    height: 18px;
    right: 50%;
    align-items: center;
    cursor: pointer;
}

.close {
    display: flex;
    position: absolute;
    top: 8px;
    right: 8px;
    margin: 0;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    background-color: var(--background-color-page);
    fill: rgba(0, 0, 0, 1);
 
    transition: fill  250ms cubic-bezier(0.4, 0.0, 0.2, 1.0);
}

.close:hover,
.close:focus { 
    fill: #2196F3;

}


/* Залиште свої дані, ми вам передзвонимо */


.form__field + .form__field{
    margin-top: 10px;
}

.form__field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

/* .form__imputs.form__textarea {
    margin: 0;
} */

.form__imputs:hover,
.form__imputs:focus {
    border :  var(--accent-color);
    fill: var(--accent-color);
}  

.form__label {
font-weight: 400;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.01em;
padding: 0;
margin: 0;
margin-bottom: 4px;

color: #757575;
}

.form__imputs  {
position: relative;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
cursor: pointer;
margin: 0;
height: 40px;
border: 1px solid rgba(33,33,33,.2);
border-radius: 4px;
padding-left: 42px;
}



.form__box {
    width: 448px;
    height: 40px;
    padding: 0px;
    padding-left: 40px;
    padding-right: 12px;
    margin: 0px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    margin-top: 4px;
    fill: var(--accent-color);
    transition: fill 250ms cubic-bezier(0.4, 0.0, 0.2, 1.0), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

} 

.form__box:hover,
.form__box:focus {
border: 1px solid var(--accent-color);
fill: var(--accent-color);
}

.form__icon{
    position: absolute;
    top: 50%;
    left: 12px;
    width: 18px;
    height: 18px;
   

}




.form__textarea {
    border: 1px solid rgba(33, 33, 33, 0.2);
   width: 100%;
   height: 58px;
   border-radius: 4px;
   margin: 0;
   margin-top: 4px;
   resize: none;
   padding: 12px 16px;
   font-weight: 400;
   font-size: 12px;
   line-height: 1.16;
   letter-spacing: 0.01em;
   color: var(--title-text-color);

}

.form__textarea:hover,
.form__textarea:focus {
 border: 1px solid var(--accent-color);  
   
}

/* checkbox */

.checkbox {
    position: relative;
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    align-items: center;
    margin-top: 20px;
    margin-left: 12px;

}


.checkbox__label {
   cursor: pointer;
   display: flex; 
    font-size: 14px;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    cursor: pointer;  

}
.checkbox__icon {
    display: inline-block;
    position: absolute;
    left: 19px;
    border-radius: 2px;
    fill: #ffffff; 
    border: 2px solid #212121;
    transform: translate(-50%);
   
   
}

.checkbox__input {
   width: 16px; 
   height: 15px;
   border-color: #212121;
   margin-right: 8px;
    
}

.checkbox__input:checked~.checkbox__icon {
    fill: var(--);
    border: rgba(0, 0, 0, 0);
}
    

.checkbox__link {
    color: var(--accent-color);
    margin-left: 8px;
}

.checkbox_text {
    padding: 0;
    margin: 0;
}


/* _________________________________ */


.modal__button {
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 10px 52px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 30px;
    align-items: center;
    margin-left: 124px;
    margin-right: 124px;
    width: 200px;
    height: 50px;
 
}

.modal__button {
    color: var(--white-color);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    line-height: 30px;
}
.modal__button {
    background-color: #2196F3;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.modal__button:hover,
.modal__button:focus {
    color: var(--white-color);
    background-color: #188CE8;
  
}


/* sass\components\_subscription.scss */

.subscription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 93px;
}




.subscription__text {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: .03em;
    text-transform: uppercase;
    color: #fff;
}

.subscription__form {
    display: flex;
    align-items: center;
}

.subscription__input {
    cursor: pointer;
    width: 358px;
    height: 50px;
    padding: 0px;
    padding-left: 16px;
    padding-right: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: .03em;
    
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: var(--background-color);
    color: rgba(255, 255, 255, 0.6);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;

    transition: box-shadow 250ms cubic-bezier(0.4, 0.0, 0.2, 1.0), border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 
    250ms cubic-bezier(0.4, 0.0, 0.2, 1.0), text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    } 
    
    
.subscription__input:hover,
.subscription__input:focus {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);    
}



/* ____________________________________________________ */


.text-comment {
font-weight: 400;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.01em;
color: #212121;
}

                    /* Vector */
.check-box {
left: 54px;
bottom: 124px;
/* : #212121; */
background-color: #2196F3;
border: 1px solid #212121;
cursor: pointer;  

}

.check-polise {

display: flex;
align-items: center;
padding-left: 12px;
margin: 0;
margin-top: 20px;
margin-bottom: 0px;
border-color: var(--accent-color);

}
.check-box:hover,
.check-box:focus {
    border-color: var(--accent-color)
}



                /* умови договору */

.consent {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
margin: 0;
margin-left: 8px;
}

.link-contract {

font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
text-decoration-line: underline;
color: #2196F3;

}
